@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

header {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 25%;
    min-width: 100%;
    padding: 25px;
    white-space: nowrap;
    background-color: var(--third);
    border-bottom: 2px solid var(--black);
    color: var(--primary);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    gap: 30px;
}

footer {
    display: block;
    transform: translateX(290%);
    position: absolute;
    bottom: 0px;
}
.footer-island {
    width: 250px;
    height: 50px;
    background-color: var(--primary);
    border: 1px var(--black) solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}