
<main class="main">
  <div class="content">
    <header id="header">
        <h1><a style="text-decoration: none;" routerLink="" routerLinkActive="active">Ruotsalainen Erik</a></h1>
        <h2>Software developer</h2>
    </header>
      <router-outlet></router-outlet>
    <footer>
      <div class="footer-island">
        <a href="https://www.linkedin.com/in/erikruotsalainen/">
          <fa-icon class="fa fa-linkedin" [icon]="faLinkedin"></fa-icon>
        </a>
        <a style="margin: auto;" (click)="openBottomSheet()">
          <fa-icon class="fa fa-chevronUp" [icon]="faChevronUp"></fa-icon>
        </a>
        <a href="https://twitter.com/Supr0en">
          <fa-icon class="fa fa-twitter" [icon]="faXTwitter"></fa-icon>
        </a>
      </div>
    </footer>
    <app-form></app-form>
  </div>
</main>

<router-outlet />
