.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--third);
  box-shadow: 0 -2px 10px var(--secondary);
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transform: translateY(100%); /* Initially hidden off-screen */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  z-index: 2;
  margin: auto;
  width: 50%;
}

.bottom-sheet.open {
  transform: translateY(0); /* Slide up when open */
}

.bottom-sheet-form {
  display: flex;
  flex-direction: column;
}

.bottom-sheet-form h2 {
  margin-bottom: 20px;
}

.bottom-sheet-form label {
  margin-bottom: 5px;
}

.bottom-sheet-form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--primary);
  border-radius: 5px;
}
.bottom-sheet-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.submit-btn, .cancel-btn {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.submit-btn {
  background-color: #6200ea;
  color: white;
}

.cancel-btn {
  background-color: #e0e0e0;
  color: black;
}